.main {
  background-image: url('./assets/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/*                             PLANET CHANGER */

.planet-changer {
  position: absolute;
  display: flex;
  width: 5%;
  margin: 2% 5%;
}

.planet-changer img {
  width: 50%;
}

.planet-changer select {
  font-size: 1vw;
  min-width: 5vw;
  background-color: rgb(102, 102, 102);
  border-radius: 0.2vw
}

/*                             NAVIGATION */

.navigation {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 8%;
  font-size: 1vw;
  left: 2%;
  margin-top: 5%;
  padding: 3% 1%;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  list-style: none;
  text-align: center;
  margin-bottom: 1px;
  border-width: 0.1vw;
  border-style: solid;
  border-color: #fff;
}

.navigation a {
  color: #fff;

  text-decoration: none;
  margin: 1% 5%;
}

.navigation li:hover {
  transform: scale(1.1);
}

/*                             RESOURCER BAR */

.resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 1%;
  padding-left: 30%;
  width: 50%;
  color: #fff;
}

.resource {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  width: 15%;
}

.resource img {
  width: 40%;
}

.value {
  display: flex;
  justify-content: center;
  width: 100%;
}

.resource p {
  padding-right: 3%;
  font-size: 0.8vw;
  margin: 1%;
}

/*                             QUICK EMPIRE */

.quick-empire {
  position: fixed;
  right: 0;
  top: 5vh;
  font-size: 2vw;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.5vw;
  border: #fff solid 1px;
  cursor: pointer;
  z-index: 2;
  
}

.open {
  max-width: 17vw;
  max-height: 50vh;
  overflow-y: scroll;
  font-size: 0.7vw;
  text-align: left;
}

.quick-empire_header:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.open img {
  width: 60%;
}

.open h1 {
  font-size: 1vw;
  text-align: center;
}

.quick-resources {
  font-size: 1vw;
  margin: 0;
}

.box {
  display: flex;
  align-items: center;
  padding-top: 1vh ;
}

.box img {
  width: 2.5vw;
  height: 2.5vw;
  margin-right: 0.5vw;
}

::-webkit-scrollbar {
  width: 1vw;
  background: rgba(1, 0, 36, 0.8);
}

.box p {
  margin: 0;
}

.box p:first-child {
  font-weight: 700;
}

.box p:first-child::before {
  padding-right: 0.5vw;
  font-size: 1vw;
  content: '»';
}

/*                             CONTENT */

.content {
  display: flex;
  flex-direction: column;
  margin: 3% 30% 0 20%;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding-bottom: 5%;
}

/*                             PREVIEW */

.planet-name {
  padding-top: 5%;
  font-size: 2vw;
  text-align: center;
}

.events {
  text-align: center;
  font-size: 1.5vw;
  padding: 1%;
  background: linear-gradient(90deg, rgba(5, 5, 66, 0) 0%, rgba(0, 0, 3, 0.5) 50%, rgba(5, 5, 66, 0) 100%);
}

.chosen-planet {
  display: flex;
  justify-content: center;
  width: 100%;
}

.chosen-planet_img {
  width: 20vw;
  border-radius: 2vw;
}

.chosen-planet_points {
  margin-left: 2%;
}

.planet-group {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  border-radius: 2vw;
  width: 90%;
  margin: 5%;
}

.planet-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  width: 10%;
  cursor: pointer;
  font-size: 1vw;
}

.planet-single img {
  width: 80%;
}

.points-main p {
  text-align: center;
  font-size: 1vw;
  text-decoration: underline;
}

.points-main_table {
  font-size: 0.8vw;
}

.points-main_point {
  text-align: center;
}

/*                             RESOURCES */

.res td, .res th {
  border: 1px solid #000;
  background-color: rgba(4, 0, 58, 0.5);
}

.res td:not(:first-child) {
  text-align: center;
  width: 12%;
}

.res td:first-child {
  width: 40%;
}

.res table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 0;
}

.resources-title {
  text-align: center;
}

.table {
  margin: 2% 10%;
  width: 80%;
}

.progress_bar {
  width: 25vw;
}

/*                             EMPIRE */

.empire {
  flex-direction: row;
}

.empire-column {
  width: 23%;
}

.empire-column img {
  width: 100%;
  border-radius: 5%;
}

.empire-column h1 {
  font-size: 2vw;
  text-align: center;
}

.empire-column table {
  width: 100%;
  border-spacing: 0;
}

.empire-column tr {
  border-top: rgb(102, 102, 102) solid 1px;
  border-bottom: rgb(102, 102, 102) solid 1px;
  padding: 0.2vw 0;
  margin-right: 1vw;
  display: flex;
  justify-content: space-between;
}

.empire-column td {
  font-size: 0.7vw;
  padding: 0 1vw;
}

.empire_title,
.empire_title-is-open {
  font-size: 1vw;
  padding-left: 5%;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(10, 12, 82) 50%, rgba(0, 0, 0, 0) 100%);
}

.empire_title:before {
  display: inline-block;
  width: 1em;
  content: '▸';
}

.empire_title-is-open:before {
  padding-right: 2%;
  content: '▾';
}

/*                             BUILDING */

.building {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 1%;
  font-size: 1vw;
}

.buildings {
  margin-left: 5%;
}

.building-false {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-left: 5%;
}

.building-false:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
}

.building-name {
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
}

.building-title {
  display: flex;
}

.building-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.building-cost {
  display: flex;
  flex-direction: column;
}

.building-cost:first-child {
  margin-top: 3%;
}

.building-cost p {
  font-size: 0.8vw;
  margin: 0 5%;
}

.building-img {
  width: 15%;
  height: 15%;
  border-radius: 3%;
}

.building-level {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2vw;
  padding: 0.3%;
}

.building-time {
  display: flex;
  font-size: 0.7vw;
  margin: 0 5%;
}

.building-button {
  display: flex;
  width: 10%;
  flex-direction: column;
  justify-content: flex-end;
}

.building_button-up {
  background-color: #161642;
  cursor: pointer;
  color: green;
  font-size: 3vw;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0.1vw 0.1vw green;
}

.building_button-up:active,
.building_button-down:active {
  transition: all 0.2s;
  box-shadow: none;
}

.building_button-down {
  background-color: #161642;
  margin-top: 1vh;
  cursor: pointer;
  color: red;
  font-size: 3vw;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0.1vw 0.1vw red;
}

.building-description {
  font-size: 0.7vw;
  margin: 1%;
}

.building-function {
  font-size: 0.7vw;
  width: 100%;
  padding: 1% 5%;
}

/*                             TESTS */

.test-chosen_container {
  padding: 5%;
}

.test {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.test h1 {
  color: #fff;
  font-size: 2vw;
  display: block;
  text-align: center;
}

.test-title {
  display: flex;
}

.test-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  font-size: 1vw;
}

.test-cost {
  display: flex;
  flex-direction: column;
}

.test-cost:first-child {
  margin-top: 3%;
}

.test-cost p {
  margin: 1% 5%;
}

.test-img {
  width: 20%;
  border-radius: 3%;
}

.test-level {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2vw;
  padding: 0.3%;
}

.test-time {
  display: flex;
  margin: 2% 5%;
}
.test-button-false,
.test-button {
  display: flex;
  position: relative;
  width: 20%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.test-button-false::after {
  position: absolute;
  width: 102%;
  height: 102%;
  top: 0;
  left: 0;
  content: '';
  border-radius: 0.5vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.test_button-up {
  background-color: #161642;
  cursor: pointer;
  color: green;
  font-size: 3vw;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0.1vw 0.1vw green;
}

.test_button-down {
  background-color: #161642;
  cursor: pointer;
  margin-top: 1vw;
  color: red;
  font-size: 3vw;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0.1vw 0.1vw red;
}

.test_button-up:active,
.test_button-down:active {
  transition: all 0.2s;
  box-shadow: none;
}

.test-description {
  margin: 1%;
  font-size: 1vw;
}

.test-function {
  width: 100%;
  padding: 1% 5%;
  font-size: 1vw;
}

.test-map_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.test-map_single-false,
.test-map_single {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 0.5vw;
  width: 15%;
  margin-top: 5%;
  padding: 1%;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(255, 17, 17, 0.2) 33%, rgba(11, 13, 46, 0.4) 53%, rgba(64, 0, 13, 0.5) 100%);
}

.test-map_single-false:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  border-radius: 0.5vw;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
}

.test-map_single-false p,
.test-map_single p {
  text-align: center;
  margin: 3%;
  font-size: 1vw;
}

.test-map_level {
  text-align: center;
  font-size: 1vw;
}

.test-map_img {
  width: 100%;
}

.test-map_button button {
  width: 48%;
  background-color: #161642;
  cursor: pointer;
  border: none;
  border-radius: 0.2vw;
  font-size: 1vw;
  margin: 0 1%;
}

.test-map_button button:last-child {
  color: red;
  box-shadow: 0.05vw 0.05vw red;
}

.test-map_button button:first-child {
  color: green;
  box-shadow: 0.05vw 0.05vw green;
}

.test-map_button button:first-child:active,
.test-map_button button:last-child:active {
  transition: all 0.2s;
  box-shadow: none;
}

/*                             FLEET AND DEFENCE */

/* .equip {
  width: 100%;
  display: flex;
  justify-content: center;
}

.equip-main {
  width: 80%;
  margin: 0.5vw 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.5vw;
  border-radius: 1vw;
}

.equip-false {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  font-size: 0.8vw;
  transition: all 0.5s;
}

.equip-false_description {
  display: flex;
  align-items: center;
  height: 100%;
}

.equip-false_description-paragraf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 23vw;
}

.equip-false_description img {
  height: 100%;
  border-radius: 0.5vw;
}

.equip-false_description p {
  padding-left: 3vw;
  margin: 0;
}

.equip-false input {
  height: 1.3vw;
  width: 5vw;
}

.equip-false button {
  height: 1.3vw;
}

.equip-true {
  display: flex;
  flex-direction: column;
  height: 50vh;
  transition: all 0.5s;
}

.equip-true_description {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.equip-true_title {
  display: flex;
  width: 100%;
}

.equip-true_title img {
  width: 10vw;
  height: 10vw;
} */

.equip-main {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 5%;
}

.equip-true {
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0.5vw 0.5vw 0 0;
  height: 25vh;
  padding: 0.5vw;
  width: 100%;
  transition: all 1s;
}

.equip-false {
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0.5vw 0.5vw 0 0;
  height: 5vh;
  padding: 0.5vw;
  width: 100%;
  transition: all 1s;
}

.equip-true img {
  width: 10vw;
  height: 10vw;
  border-radius: 0.5vw;
  transition: all 1s;
}

.equip-false img {
  width: 3vw;
  height: 3vw;
  border-radius: 0.5vw;
  transition: all 1s;
}

.equip_title-true {
  width: 30vw;
  margin-left: 1vw;
}

.equip_title-false {
  width: 20vw;
  margin-left: 1vw;
}

.equip_title-true h1 {
  cursor: pointer;
  font-size: 1vw;
  transition: all 1s;
}

.equip_title-true p {
  text-align: justify;
  font-size: 0.7vw;
  transition: all 1s;
}

.equip_title-false h1 {
  cursor: pointer;
  font-size: 0.8vw;
  transition: all 1s;
}

.equip_details-true {
  display: flex;
  justify-content: space-between;
}

.equip_gun-true {
  position: relative;
  width: 20vw;
}

.quick-gun_relase {
  display: inline;
  cursor: pointer;
  padding-left: 1vw;
}

.quick-gun_main {
  position: absolute;
  background-color: #0f0f3d;
  padding: 0.2vw 0.9vw 1vw 0.5vw;
  border-radius: 0 1vw 1vw 1vw;
  left: 8vw;
  top: -0.3vw;
  width: 20vw;
  height: 20vh;
  overflow-y: scroll;
  font-size: 0.8vw;
  transition: all 1s;
}

.quick-gun {
  display: flex;
}

.quick-gun p {
  padding-right: 0.5vw;
  margin: 0;
}

.equip_cost-true p {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.equip_input-true,
.equip_input-false {
  display: flex;
  justify-content: flex-end;
  padding: 0.5vh 1vw;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0 0 0.5vw 0.5vw;
  margin-bottom: 1vh;
}



/*                             TECH */

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5% 10%;
  width: 80%;
  border-top: rgb(85, 85, 85) solid 1px;
  background: linear-gradient(90deg, rgba(9,9,121,0) 0%, rgba(0,0,0,1) 50%, rgba(9,9,121,0) 100%);
}

.tech-title-h1 {
  font-size: 2vw;
  text-align: center;
}

.tech-title-h2 {
  font-size: 1.5vw;
  text-align: center;
}

.tech-name {
  width: 50%;
  font-size: 1.1vw;
  padding-right: 1vw;
  text-align: right;
}

.tech-req {
  width: 50%;
}

.tech-req p {
  font-size: 0.8vw;
  padding-left: 1vw;
  margin: 0;
}

.tech-req_simple {
  width: 100%;
}

@media only screen and (max-width: 1000px) {

  /*                             PLANET CHANGER */

  .planet-changer img {
    width: 80%;
  }

  .planet-changer select {
    font-size: 1.5vw;
    min-width: 8vw;
  }

  /*                             NAVIGATION */

  .navigation {
    width: 12%;
    font-size: 1.6vw;
    margin-top: 5%;
  }


  /*                             RESOURCER */

  .resource p {
    font-size: 1.2vw;
  }

  .resource img {
    width: 60%;
  }

  /*                             CONTENT */

  .content {
    display: flex;
    flex-direction: column;
    margin: 3% 10% 0 25%;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 5%;
  }

  /*                             PREVIEW */

  .planet-name {
    font-size: 3vw;
  }

  .chosen-planet_img {
    width: 50%;
  }

  .points-main p {
    font-size: 1.4vw;
  }

  .points-main_table {
    font-size: 1.2vw;
  }

  /*                             EMPIRE */

  .empire {
    flex-direction: row;
  }

  .empire-column {
    width: 30%;
  }

  .empire-column h1 {
    font-size: 2.5vw;
  }

  .empire_title,
  .empire_title-is-open {
    font-size: 1.5vw;
    cursor: pointer;
  }

  .empire-column td {
    font-size: 1.3vw;
  }
}