.main {
  background-image: url('./assets/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/*                             PLANET CHANGER */

.planet-changer {
  position: absolute;
  display: flex;
  width: 5%;
  margin: 2% 5%;
}

.planet-changer img {
  width: 50%;
}

.planet-changer select {
  font-size: 1vw;
  min-width: 5vw;
  background-color: rgb(102, 102, 102);
  border-radius: 0.2vw
}

/*                             NAVIGATION */

.navigation {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 8%;
  font-size: 1vw;
  left: 2%;
  margin-top: 5%;
  padding: 3% 1%;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  list-style: none;
  text-align: center;
  margin-bottom: 1px;
  border-width: 0.1vw;
  border-style: solid;
  border-color: #fff;
}

.navigation a {
  color: #fff;

  text-decoration: none;
  margin: 1% 5%;
}

.navigation li:hover {
  transform: scale(1.1);
}

/*                             RESOURCER */

.resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 1%;
  padding-left: 30%;
  width: 50%;
  color: #fff;
}

.resource {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  width: 15%;
}

.resource img {
  width: 40%;
}

.value {
  display: flex;
  justify-content: center;
  width: 100%;
}

.resource p {
  padding-right: 3%;
  font-size: 0.8vw;
  margin: 1%;
}

/*                             CONTENT */

.content {
  display: flex;
  flex-direction: column;
  margin: 3% 20% 0 20%;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding-bottom: 5%;
}

/*                             PREVIEW */

.planet-name {
  padding-top: 5%;
  font-size: 2vw;
  text-align: center;
}

.events {
  text-align: center;
  font-size: 1.5vw;
  padding: 1%;
  background: linear-gradient(90deg, rgba(5, 5, 66, 0) 0%, rgba(0, 0, 3, 0.5) 50%, rgba(5, 5, 66, 0) 100%);
}

.chosen-planet {
  display: flex;
  justify-content: center;
  width: 100%;
}

.chosen-planet_img {
  width: 35%;
  border-radius: 2vw;
}

.chosen-planet_points {
  margin-left: 2%;
}

.planet-group {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  border-radius: 2vw;
  width: 90%;
  margin: 5%;
}

.planet-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  width: 10%;
  cursor: pointer;
  font-size: 1vw;
}

.planet-single img {
  width: 80%;
}

.points-main p {
  text-align: center;
  font-size: 1vw;
  text-decoration: underline;
}

.points-main_table {
  font-size: 0.8vw;
}

.points-main_point {
  text-align: center;
}

/*                             EMPIRE */

.empire {
  flex-direction: row;
}

.empire-column {
  width: 20%;
}

.empire-column img {
  width: 100%;
  border-radius: 5%;
}

.empire-column h1 {
  font-size: 2vw;
  text-align: center;
}

.empire-column table {
  width: 100%;
}

.empire-column tr {
  display: flex;
  justify-content: space-between;
}

.empire-column td {
  font-size: 1vw;
  padding: 0 1vw;
}

.empire_title,
.empire_title-is-open {
  font-size: 1vw;
  padding-left: 5%;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(10, 12, 82) 50%, rgba(0, 0, 0, 0) 100%);
}

.empire_title:before {
  display: inline-block;
  width: 1em;
  content: '▸';
}

.empire_title-is-open:before {
  padding-right: 2%;
  content: '▾';
}

/*                             BUILDING */

.building {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 1%;
  font-size: 1vw;
}

.building-false {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 1%;
  font-size: 1vw;
}

.building-false:after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
}

.building-name {
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
}

.building-title {
  display: flex;
}

.building-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.building-cost {
  display: flex;
  flex-direction: column;
}

.building-cost:first-child {
  margin-top: 3%;
}

.building-cost p {
  font-size: 0.8vw;
  margin: 0 5%;
}

.building-img {
  width: 15%;
  border-radius: 3%;
}

.building-level {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2vw;
  padding: 0.3%;
}

.building-time {
  display: flex;
  font-size: 0.7vw;
  margin: 0 5%;
}

.building-button {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: flex-end;
}

.building_button-up {
  background-color: green;
  font-size: 1vw;
}

.building_button-down {
  background-color: red;
  font-size: 1vw;
}

.building-description {
  font-size: 0.7vw;
  margin: 1%;
}

.building-function {
  width: 100%;
  padding: 1% 5%;
}

/*                             TESTS */

.test-chosen_container {
  padding: 5%;
}

.test {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.test h1 {
  color: #fff;
  font-size: 2vw;
  display: block;
  text-align: center;
}

.test-title {
  display: flex;
}

.test-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  font-size: 1vw;
}

.test-cost {
  display: flex;
  flex-direction: column;
}

.test-cost:first-child {
  margin-top: 3%;
}

.test-cost p {
  margin: 1% 5%;
}

.test-img {
  width: 20%;
  border-radius: 3%;
}

.test-level {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2vw;
  padding: 0.3%;
}

.test-time {
  display: flex;
  margin: 2% 5%;
}
.test-button-false,
.test-button {
  display: flex;
  position: relative;
  width: 20%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.test-button-false::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}

.test_button-up {
  background-color: green;
  font-size: 1vw;
}

.test_button-down {
  background-color: red;
  font-size: 1vw;
}

.test-description {
  margin: 1%;
  font-size: 1vw;
}

.test-function {
  width: 100%;
  padding: 1% 5%;
  font-size: 1vw;
}

.test-map_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.test-map_single-false,
.test-map_single {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 15%;
  margin-top: 5%;
  padding: 1%;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(255, 17, 17, 0.1) 33%, rgba(11, 13, 46, 0.4) 53%, rgba(64, 0, 13, 0.2) 100%);
}

.test-map_single-false:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
}

.test-map_single-false p,
.test-map_single p {
  text-align: center;
  margin: 3%;
  font-size: 1vw;
}

.test-map_level {
  text-align: center;
  font-size: 1vw;
}

.test-map_img {
  width: 100%;
}

.test-map_button button {
  width: 50%;
  font-size: 1vw;
}

@media only screen and (max-width: 1000px) {

  /*                             PLANET CHANGER */

  .planet-changer img {
    width: 80%;
  }

  .planet-changer select {
    font-size: 1.5vw;
    min-width: 8vw;
  }

  /*                             NAVIGATION */

  .navigation {
    width: 12%;
    font-size: 1.6vw;
    margin-top: 5%;
  }


  /*                             RESOURCER */

  .resource p {
    font-size: 1.2vw;
  }

  .resource img {
    width: 60%;
  }

  /*                             CONTENT */

  .content {
    display: flex;
    flex-direction: column;
    margin: 3% 10% 0 25%;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 5%;
  }

  /*                             PREVIEW */

  .planet-name {
    font-size: 3vw;
  }

  .chosen-planet_img {
    width: 50%;
  }

  .points-main p {
    font-size: 1.4vw;
  }

  .points-main_table {
    font-size: 1.2vw;
  }

  /*                             EMPIRE */

  .empire {
    flex-direction: row;
  }

  .empire-column {
    width: 30%;
  }

  .empire-column h1 {
    font-size: 2.5vw;
  }

  .empire_title,
  .empire_title-is-open {
    font-size: 1.5vw;
    cursor: pointer;
  }

  .empire-column td {
    font-size: 1.3vw;
  }
}